# The command to run your bot
run = "python3 main.py"

# Specifies the file that contains your main code
entrypoint = "main.py"
modules = ["python-3.11"]
language = "python3"

[nix]
# Uses a recent, stable Nix channel which provides Python and other tools
channel = "stable-23_11"

[[ports]]
localPort = 8080
externalPort = 80
